.b-article
{
    margin: 0 25% 0 5em;
}

.b-article__list
{
    padding-left: 2em;
}

.b-article__term
{
    font-style: italic;

    display: list-item;

    margin-top: 1em;
}

.b-article__code
{
    font: 130% Monaco, Consolas, "Courier New", monospace;

    overflow: auto;

    margin-left: 1em;

    background-color: #f0f0f0;
}

@media print {
    .b-article
    {
        margin: 0;
    }

    .b-article__code
    {
        display: block !important;

        margin-left: 0;
    }
}
